.login-bg-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{
    box-shadow: 0px 4px 16px 0px #a8b1b1;
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 40px 20px 40px 20px;
    border-radius: 10px;
}

.login-label{
    margin-bottom: 8px;
    font-weight: 500;
}

.login-input{
    margin-bottom: 12px;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #595e5e;
}